trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  distFolder: 'dist'
  zipFile: '$(Build.ArtifactStagingDirectory)/travelapp-frontend.zip'

steps:
# Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Install dependencies
- script: npm install
  displayName: 'npm install'

# Build Vue app
- script: npm run build
  displayName: 'Build Vue app'

# Zip the dist folder
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(distFolder)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(zipFile)'
    replaceExistingArchive: true

# Deploy to Azure Web App
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-rg-softengPE'
    appName: 'travelapp-frontend'
    package: '$(zipFile)'
    appType: 'webApp'   
